.header {
  background-color: #333;
  color: white;
  &__logo {
    color: var(--white);
    font-weight: bold;
    font-size: 20px;
  }
  &-wrap {
    height: 50px;
  }
  &__link {
    color: var(--white);
    margin-left: 30px;
  }
}
